<h2>All drivers</h2>
<% drivers.forEach(driver=>{ %>
    <div>
        <p><%= driver.id %></p>
        <p><%= driver.name %></p>
        <p><%= driver.contact %></p>
    </div>
    
     <br>
    
<% }) %>
<!-- <p id="map"></p> -->