<style>
    table, th, td {
        border: 1px solid rgb(184, 162, 162);
        border-collapse: collapse;
      }
     tbody tr:hover{
        background-color: rgb(219, 219, 206);
     }
    td{
        padding: 1rem;
    }
    .content{
        justify-content:center;
        margin-top:2rem;
    }
    table{
        position: relative;
        left:3rem;
        margin-top:1rem;
    }
</style>
<div class="content">
<h2 style="display:inline; position:relative; left:3rem;">All drivers</h2>
<table class="table">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">contact</th>
          </tr>
        </thead>
        <tbody>
            <% drivers.forEach((driver, idx)=>{ %>
          <tr>
            <th scope="row"><%= idx+1 %></th>
            <td><%= driver.id %></td>
            <td><%= driver.name %></td>
            <td><%= driver.contact %></td>
          </tr>
          <% }) %>
        </tbody>
</table>
</div>
