<h2 >New Drivers</h2>

<div>
    <form  onsubmit="return false;">
        <%- include('_form_fields') %>
        <a href="/drivers"> Cancel </a>
        <button  type="submit" onClick="sendpost()">Create</button>
        <p id="map"></p>
    </form>
</div>
<!-- <div id="map"></div> -->
