<style>
    nav div{
        background-color: aqua;
        display:inline-block;
        height: 2rem;
        width:32.3%;
        text-align: center;
        padding-top:0.5rem;
    }
    nav div:hover{
        background-color: rgb(184, 174, 161);
    }
    nav{
        width:98.8vw;
        margin-top:0px;
    }
    header{
        margin-top:0px;
        margin-bottom:3px;
        padding-top:0px;
    }
</style>
<header>
    <nav>
        <a href="/"><div >Track</div></a>
        <a href="/drivers"><div>Drivers</div></a>
        <a href="/drivers/new"><div>Login as Driver</div></a>
    </nav>
</header>
