<header>
    <nav>
        <a href="/">EV Tracking</a>
        <ul>
            <li><a href="/drivers">Drivers</a></li>
            <li><a href="/drivers/new"> Login as Driver </a></li>
        </ul>
    </nav>
</header>