<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Smart - Multi-purpose Landing Page Template</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="/css/animate.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== NAVBAR PART START ======-->

    <section class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <% if(locals.response != null && locals.driverId == null ) { %>
                                <% if(response == true) { %>
                                  <a class="navbar-brand" href="/admin/track" style="color:white; font-size:bold;">Track</a>
                                <% } %>
                            <% } else if(locals.driverId == null) { %>
                              <a class="navbar-brand" href="/" style="color:white; font-size:bold;">Track</a>
                            <% } %>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="/home">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <% if(locals.response != null && locals.driverId ==null ) { %>
                                            <% if(response == true) { %>
                                            <a class="page-scroll" href="/admin/drivers">Drivers</a>
                                            <% } %>
                                        <% } else if(locals.driverId ==null) { %>
                                            <a class="page-scroll" href="/drivers">Drivers</a>
                                        <% } %>
                                    </li>
                                    <% if( locals.response != null && locals.driverId ==null ) { %>
                                        <% if(response == true) { %>
                                          <li class="nav-item">
                                            <a class="page-scroll" href="/">Logout</a>
                                          </li>
                                          <% } else { %>
                                            <li class="nav-item">
                                              <a  class="page-scroll" style="cursor:pointer" data-toggle="modal" data-target="#user-modal">Login as Driver</a>
                                            </li>
                                          <% } %>
                                      <% } else if(locals.driverId !=null) { %>
                                        <% if(driverId != null) { %>
                                          <li class="nav-item">
                                            <a class="page-scroll" href="/">Logout as Driver</a>
                            
                                          </li>
                                          <% } else { %>
                                            <li class="nav-item">
                                              <button type="button" style="cursor:pointer" class="btn navbut" data-toggle="modal" data-target="#user-modal">Login as Driver</button>
                                            </li>
                                          <% } %>
                                        <% } else { %>
                                          <li class="nav-item">
                                            <a class="page-scroll" style="cursor:pointer" data-toggle="modal" data-target="#user-modal">Login as Driver</a>
                                          </li>
                                          <% }  %>

                                        <li class="nav-item">
                                        <% if(locals.response != null ) { %>
                                            <% if(response == true) { %>
                                                <a class="page-scroll" style="cursor:pointer" data-toggle="modal" data-target="#add_driver-modal">
                                                Add driver
                                                </a>
                                            <% } %>
                                        <% } else if(locals.driverId == null) { %>
                                        <a class="page-scroll" style="cursor:pointer" data-toggle="modal" data-target="#admin-modal">
                                            Login as Admin
                                        </a>
                                        <% } %>
                                        </li>
                                </ul>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
        
        <div id="home" class="slider-area">
            <div class="bd-example">
                <div id="carouselOne" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselOne" data-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item bg_cover active" style="background-image: url(/images/slider-2.jpg)">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-6 col-lg-7 col-sm-10">
                                            <h2 class="carousel-title">Electric Vehicle Tracking IIT INDORE</h2>
                                            
                                        </div>
                                    </div> <!-- row -->
                                </div> <!-- container -->
                            </div> <!-- carousel caption -->
                        </div> <!-- carousel-item -->

                        <div class="carousel-item bg_cover" style="background-image: url(/images/slider-1.jpg)">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-6 col-lg-7 col-sm-10">
                                            <h2 class="carousel-title">Electric Vehicle Tracking IIT INDORE</h2>
                                          
                                        </div>
                                    </div> <!-- row -->
                                </div> <!-- container -->
                            </div> <!-- carousel caption -->
                        </div> <!-- carousel-item -->
                    <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                        <i class="lni-arrow-left-circle"></i>
                    </a>

                    <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                        <i class="lni-arrow-right-circle"></i>
                    </a>
                </div> <!-- carousel -->
            </div> <!-- bd-example -->
        </div>

    </section>

    <!--====== NAVBAR PART ENDS ======-->


    <!--====== MODAL PART START ======-->

    <div class="modal fade marg" id="admin-modal" tabindex="-1" aria-labelledby="admin-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Details</h1>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin" method="post">
                    <div class="mb-3">
                      <label for="username" class="form-label">User name</label>
                      <input type="text" name="username" value="" class="form-control" id="username" required>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" value="" class="form-control" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade marg" id="user-modal" tabindex="-1" aria-labelledby="user-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <form onsubmit="return false;">
                    <div class="mb-3">
                      <label for="id" class="form-label">Vehicle No.</label>
                      <input type="text" class="form-control" id="id" required>
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                      <label for="contact" class="form-label">Contact</label>
                      <input type="text" class="form-control" id="contact">
                    </div>
                    <button type="submit" onClick="sendpost()" class="btn btn-primary">Submit</button>
                  </form> -->
                  <form action="/" method="post">
                    <div class="mb-3">
                      <label for="driverId" class="form-label">Driver Id</label>
                      <input type="text" name="driverId" class="form-control" id="driverId" required>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade marg" id="add_driver-modal" tabindex="-1" aria-labelledby="add_driver-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/drivers/new" method="post">
                    <div class="mb-3">
                      <label for="driverId" class="form-label">Driver Id</label>
                      <input type="text" name="driverId" class="form-control" id="driverId" required>
                    </div>
                    <div class="mb-3">
                      <label for="driverName" class="form-label">Driver Name</label>
                      <input type="text" name="driverName" value="" class="form-control" id="driverName">
                    </div>
                    <div class="mb-3">
                      <label for="phoneNo" class="form-label"> Phone No.</label>
                      <input type="text" name="phoneNo" value="" class="form-control" id="phoneNo">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password.</label>
                      <input type="password" name="password" value="" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                      <label for="timingSlot" class="form-label">Timing Slot</label>
                      <input type="text" name="timingSlot" value="" class="form-control" id="timingSlot">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mt-30 pb-40">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Simple and Easy to use EV-tracking website</h4>
                        <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">Users can track EVs at Track. Drivers please press Driver login to provide location.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
    </section>

    <!--====== ABOUT PART ENDS ======-->
    
    <!--====== portfolio PART START ======-->
                
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== portfolio PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->  

    <!--====== PART START ======-->



    <!--====== PART ENDS ======-->










    <!--====== jquery js ======-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="/js/scrolling-nav.js"></script>
    <script src="/js/jquery.easing.min.js"></script>

    <!--====== wow js ======-->
    <script src="/js/wow.min.js"></script>

    <!--====== Main js ======-->
    <script src="/js/main.js"></script>

</body>

</html>
